<footer class="footer">
    <div class="container">
        <div class="menu_footer">
            
            <div class="contact-info">
                <p class="title_footer">Información de Contacto</p>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i> Las Moras de las Flores 6066</li>
                    <li><i class="fa-solid fa-phone"></i> +54 9 11 123456789</li>
                    <li><a href="https://wa.me/1XXXXXXXXXX" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                    <li><i class="fa-solid fa-at"></i><a href="mailto:clothesshop@unmail.com"> clothesshop@unmail.com</a></li>
                </ul>
            </div>
            
            <div class="information">
                <p class="title_footer">Información útil</p>
                <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Información Delivery</a></li>
                    <li><a href="#">Politicas de Privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Reenbolsos</a></li>
                    <li><a href="#">Contactános</a></li>
                </ul>
            </div>
            
            <div class="newsletter">
                <p class="title_footer">Boletín informativo</p>
                <div class="content">
                    <p>Suscríbete a nuestro boletin ahora y mantente al día con las nuevas colecciones y ofertas exclusivas.</p>
                    <input type="email" placeholder="Ingresa el correo aquí...">
                    <button>Suscríbete</button>
                </div>
            </div>

            <div class="social-icons">
                <p class="title_footer">Seguinos</p>
                <ul class="icons_rs">
                    <li><span class="facebook"><i class="fa-brands fa-facebook-f"></i></span></li>
                    <li><span class="youtube"><i class="fa-brands fa-youtube"></i></span></li>
                    <li><span class="twitter"><i class="fa-brands fa-twitter"></i></span></li>
                    <li><span class="instagram"><i class="fa-brands fa-instagram"></i></span></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
