<header>
    <div class="container header">
        <div class="branding">
            <figure class="logo">
                <img src="../assets/img/logo.png" alt="logo Clothes Shop">
            </figure>
            <h1 class="name_shop"><span class="name_shop_1st">Clothes</span> <span class="name_shop_2nd">Shop</span></h1>
        </div>
        <nav class="menu">
            <ul class="navegacion">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Niños</a></li>
                <li><a href="#">Deportes</a></li>
                <li><a href="../pages/carrito.html">Carrito</a></li>
            </ul>
        </nav>
        <div class="menu_hamburguer">
            <i class="fa-solid fa-bars icn-hambur"></i>
        </div>
        <div class="icons">
            <i class="fa-regular fa-user icn-user" title="Ingresar"></i>
            <i class="fa-solid fa-cart-shopping icn-cart boton-carrito" title="Ir al Carrito"><span id="numerito" class="numerito">0</span></i>
        </div>
    </div>
</header>