<section class="negocio">
    <div>
        <img class="img_negocio" src="../assets/img/icon-shipping.png" alt="icono de envíos"/>
        <p class="titulo_negocio">Envío gratis</p>
        <p class="text_negocio">A partir de $10.000</p>
    </div>
    <div>
        <img class="img_negocio" src="../assets/img/icon-refund.png" alt="icono de devoluciones gratis"/>
        <p class="titulo_negocio">Devoluciones gratis</p>
        <p class="text_negocio">Tienes 90 días</p>
    </div>
    <div>
        <img class="img_negocio" src="../assets/img/icon-customer-service.png" alt="icono de atención al cliente"/>
        <p class="titulo_negocio">Atención al cliente</p>
        <p class="text_negocio">7 días a la semana</p>
    </div>
    <div>
        <img class="img_negocio" src="../assets/img/icon-secure.png" alt="icono de pago seguro"/>
        <p class="titulo_negocio">Pago seguro</p>
        <p class="text_negocio">100% confianza</p>
    </div>
</section>